.form-control{
  margin: 20px;
}
  .form-control:focus, .form-select:focus {
    border-color: #fcfcfc;
    box-shadow: 0 0 0 0.25rem rgba(31, 70, 111, 0.2);
  }
  .row input ,.row select {
    vertical-align: middle;
  }
  .custom-select {
    height: calc(2.25rem + 2px);
  } 
  button.search {
    width: 40%;
    
    background: rgb(0,199,255);
    padding: 10px 20px;
    background: linear-gradient(90deg, rgba(0,199,255,1) 0%, rgba(56,211,255,1) 45%,
     rgba(120,221,250,1) 80%);
     border: none;
     margin: .7em;
     color: white;
     cursor: pointer;
  }
  input{
    box-shadow: 0 2px 4px rgb(32, 30, 30);
  }
/*flight -------------------------------------------- */
.toast {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(240, 78, 78);
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  display: none;
}

.ticket {
  background-color: #fff;
  box-shadow: 0 2px 4px rgb(14, 1, 1);
  padding: 16px;
  border-radius: 12px;
  margin-bottom: 16px;
}

.logo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 16px;
}

.logo img {
  width: 100%;
  height: auto;
  /* border: 2px solid gray; */
}

.price {
  font-size: 18px;
  margin-top: 8px;
}

.reserve-button {
  margin-right: 8px;
  padding: 8px;
  font-size: 16px;
  font-weight: bold;
  background-color: #008000;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 40%;
}

.details-button {
  font-size: 16px;
  font-weight: bold;
  border: none;
  background-color: transparent;
  color: #aaa;
  cursor: pointer;
}

.buttons {
  display: flex;
  align-items: center;
}

.cities {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.city {
  font-size: 18px;
  margin: 0;
  font-weight: bold;
}

.hour {
  font-size: 18px;
  margin: 0;
  font-weight: normal;
  color: #aaa;
}

.hour-separator {
  font-size: 18px;
  margin: 0 8px;
  font-weight: normal;
  color: #aaa;
}

.details {
  display: none; /* Initially hide the details */
  margin-top: 16px;
  font-size: 16px;
  font-weight: normal;
}
